{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}


<div>
    <div class="card" style="width: 70%; text-align:center ; margin: auto; height: 80%">
        <div class="card-body">
            <h2 class="card-title">HOME</h2>
            <a href="/user/login"><button class="btn btn-dark">Login</button></a>
            <a href="/user/register"><button class="btn btn-dark">Register</button></a>
        </div>
    </div>
</div>