{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}

<main class="d-grid gap-2 col-6 mx-auto mt-4">

    <form action="/user/login" method="POST">
        <h1 class="text-center">Sing in</h1>
        <div class="form-floating">
            <input type="text" id="email" name="email" class="form-control">
            <label for="email">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" name="senha" id="senha" class="form-control">
            <label for="senha"Senha></label>
        </div>
        <div class="d-grid gap-1 col-2 mx-auto">
            <button class="btn btn-success w-100 py-2 mt-3">Sing up</button>
        </div>
    </form>
    
        <div class="d-grid gap-1 col-2 mx-auto">
            <a href="/user/"><button class="btn btn-danger w-100 py-2">Home</button></a>
        </div>

</main>