{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}

<div>
    <form action="/user/login" method="POST">
        <label for="email">
            <input type="text" id="email" name="email">
        </label>
        <label for="senha">
            <input type="password" name="senha" id="senha">
        </label>
        <button class="btn btn-success">Sing up</button>
    </form>

    <a href="/user/"><button class="btn btn-danger">Home</button></a>
</div>